CMakeCache.txt
CMakeFiles/
cmake_install.cmake
bin/
Makefile
lib/CMakeFiles/
lib/Makefile
lib/cmake_install.cmake
lib/libgmock.a
lib/libgmock_main.a
lib/libgtest.a
lib/libgtest_main.a
lib/libsimpleLibrary.a
test/.CMakeLists.txt.swp
test/CMakeCache.txt
test/CMakeFiles/
test/Makefile
test/cmake_install.cmake
test/lib/
.vscode/
